.btn-success {
  color: #fff;
  font-size: 16px;
  background-color: #28a745;
  border-color: #28a745;
  border-radius: .95rem;
  box-shadow: 0 2px 2px #999, 0 2px 2px #999;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-left: 30px;
}

ul.search-results img {
  margin: 0 auto;
}
.card { 
  border-radius: 2px;
  height: 400px;  
  position: relative;
  width: 300px;
  box-shadow: 0 5px 8px #6f6666, 0 5px 8px #6f6666;
  text-align: left;
  border-radius: .95rem;
  margin-bottom: 15px;
}

.img-container { 
  height: 70%;
  overflow: hidden;
  text-align: center;  
  border-radius: .95rem;
}
.card > .img-container > img {
  width: 50%;
  height: 110%;
  padding-top: 1rem;
} */

.h3, h3 {
  font-size: 20px;
  font-weight: bold;
}

/* .list-group-item {
  position: relative;  
  background-color: transparent;
  width: 950px;
  border-radius: .95rem; 
} */

.card-button {
  font-size: 14px;
  padding:.5px;
  margin-left: 20px;
  margin-top: 8px;
  font-weight: bold;
  display: flex;
}

.card-button :hover {
  color: orangered;
  cursor: pointer;
}

.book-card {
  background-image: linear-gradient(45deg, #4e54c8 0%, #8f94fb 100%);
  border: none;
  color: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  margin-bottom: 20px;
  width: 240px;
  height: 300px;
}
.book-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }

  .book-card:hover .readMore:before {
    background: linear-gradient(to right, #ffffff 0%,#ffffff 100%);
  }

  .book-card.header {
    padding: 3px;
    padding-right: 7px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
  }

  .book-card.title {
    font-size: 10px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .book-card.text {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  


.create-port-btn {
  margin-bottom: 20px;
}

.btn-group-sm>.btn, .btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-left:20px;
}





